<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<link rel="icon" href="{% static 'resources/textless_orange.png' %}">
<head>
    <meta charset="UTF-8">
    <title>Luna</title>
    <link rel="stylesheet" type="text/css" href="{% static 'luna_style.css' %}"/>
</head>
<body>
<div class="sidenav">
    <a class="logo" href="/Luna/">
        <img class="logo" src="{% static 'resources/orange.png' %}" alt="Home"/>
    </a>
    <hr class="thick">
    {% if user.is_authenticated %}
        <a href="/Luna/system_performance_calculator">Calculator</a>
        <a href="/Luna/career_path">Career Path</a>
        <div class="sidenav-bottom">
        <hr class="thick">
        <a href="/Luna/logout">Logout</a>
        </div>
    {% else %}
        <a class="link" href="{% url 'social:begin' 'google-oauth2' %}">Login</a>
    {% endif %}
</div>
{% block content %}
{% endblock %}
</body>
</html>