<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<link rel="icon" href="{% static 'resources/textless_orange.png' %}">
<head>
    <meta charset="UTF-8">
    <title>Luna Landing</title>
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'luna_style.css' %}"/>
</head>
<body>
<div class="header">
    <a href="/Luna/">
        <img src="{% static 'resources/orange.png' %}" alt="Home"/>
    </a>
    <h1>Welcome to Luna</h1>
</div>
<div class="sidenav">
    {% if user.is_authenticated %}
        <a href="/Luna/system_performance_calculator">Calculator</a>
        <a href="/Luna/career_path">Career Path</a>
        <a href="/Luna/logout">Logout</a>
    {% else %}
        <a class="lead" href="{% url 'social:begin' 'google-oauth2' %}">Login</a>
    {% endif %}
</div>
{% block content %}
{% endblock %}
</body>
</html>