{% extends "Luna/print_base.html" %}
{% block content %}
    <style>
        * {
            color: #656569;
        }
    </style>
    {#    Header~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
    <div id="top_address_info">
        <div id="address" style="display: inline-block; padding: 10px; width: 65%;">
            <p style="font-size: 20px;">
                Vivintsolar.com<br>
                1800 W Ashton Blvd.<br>
                Lehi, Utah 84043<br>
            </p>
        </div>

        <div id="billing"
             style="display: inline-block; padding: 10px; width: 35%; float:right;">
            <p style="font-size: 30px; font-weight:bolder"><b>Buyout Bill: </b></p>
            <hr>
            <table>
                <tr>
                    <td>Date:</td>
                    <td>{{ date }}</td>
                </tr>
                <tr>
                    <td>Service #:</td>
                    <td> S-{{ form_response.account_info.0 }}</td>
                </tr>
            </table>
        </div>
    </div>
    <br><br><br><br>
    {#    Bill~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
    <div style="width:59%; display: inline-block;">
        <div style="background-color: #656569; color: white; font-size:20px; padding: 15px;">Fee Estimate</div>
        <table>
            <tr>
                <td>Service Number</td>
                <td>{{ form_response.account_info.0 }}</td>
            </tr>
            <tr>
                <td>Customer Name</td>
                <td>{{ form_response.account_info.1 }}</td>
            </tr>
            <tr>
                <td>System Address</td>
                <td>{{ form_response.account_info.3 }}, {{ form_response.account_info.4 }}, {{ form_response.account_info.6 }}, {{ form_response.account_info.7 }}</td>
            </tr>
        </table>
    </div>

    <div style="width:40%; display:inline-block; float:right;">
        <div style="background-color: #656569; color: white; font-size:20px; padding: 15px;">Services</div>
    </div>
<br><br><br>
    <div>
        <table style="width: 100%;">
            <tr>
                <th style="background-color: #656569; color: white; font-size:20px; padding: 15px; width:20%;">Description</th>
                <th style="background-color: #656569; color: white; font-size:20px; padding: 15px;">Services</th>
                <th style="background-color: #656569; color: white; font-size:20px; padding: 15px;">Amount</th>
            </tr>
            <tr>
                <td>{{ form_response.results.contract_type }} Buyout</td>
                <td></td>
                <td>${{ form_response.results.transfer_subtotal }}</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td></td>
                <td>${{ form_response.results.transfer_total_tax }}</td>
            </tr>
            <tr>
                <td>Total</td>
                <td></td>
                <td>${{ form_response.results.transfer_total }}</td>
            </tr>
        </table>
    </div>
<br><br>
    <p>If you have any question about this fee, please contact Vivint Solar Customer Service at (801) 404-4129 ext.2 or by
    email at feebilling@vivintsolar.com </p>
    <p>
    Thank you,
    </p>

    image

    <p>
    Simply Brighter / Vivintsolar.com
    1800 W. Ashton Blvd.
    Lehi, Utah 84043
    </p>

{% endblock %}