{% extends "Luna/print_base.html" %}
{% block content %}
    <style>
        * {
            color: #656569;
        }

        .bar {
            background-color: #656569;
            color: white;
            font-size: 20px;
            padding: 15px;
        }
    </style>
    {#    Header~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
    <div id="top_address_info">
        <div id="address" style="display: inline-block; padding: 10px; width: 50%;">
            <p style="font-size: 20px;">
                vivint.Solar<br>
                1800 W Ashton Blvd.<br>
                Lehi, Utah 84043<br>
            </p>
        </div>

        <div id="billing"
             style="display: inline-block; padding: 10px; width: 40%; float:right; vertical-align: top;">
            <p style="font-size: 30px; font-weight:bolder"><b>Prepayment Bill: </b></p>
            <hr>
            <table>
                <tr>
                    <td>Date:</td>
                    <td style="padding: 0px 0px 0px 20px;">{{ date }}</td>
                </tr>
                <tr>
                    <td>Service Number:</td>
                    <td style="padding: 0px 0px 0px 20px;">{{ form_response.prepayment_inputs.service_name}}</td>
                </tr>
            </table>
        </div>
    </div><br><br>
    <table style="width:80%; padding: 0px 0px 0px 20px;">
        <tr>
            <th style="width:30%;"></th>
            <th style="width:70%;"></th>
        </tr>
        <tr>
            <td>Calculated Prepayment Price as of:</td>
            <td>{{ date }}</td>
        </tr>
        <tr>
            <td>Current Month of Contract:</td>
            <td>{{ form_response.prepayment_inputs.current_contract_month }}</td>
        </tr>
        <tr>
            <td>Remaining Months included in Prepayment Price:</td>
            <td>{{ form_response.prepayment_inputs.remaining_contract_term }}</td>
        </tr>
        <tr style="background: skyblue;">
            <td>Current Prepayment Value:</td>
            <td>${{ form_response.pv_of_expected_invoice }}</td>
        </tr>
        <tr style="background: skyblue;">
            <td>Applicable Taxes:</td>
            <td>${{ form_response.tax }}</td>
        </tr>
        <tr style="background: skyblue;">
            <td>Current Prepayment Value:</td>
            <td>${{ form_response.total_prepayment_price }}</td>
        </tr>
        <tr>
            <td>Service Number:</td>
            <td>{{ form_response.prepayment_inputs.service_name }}</td>
        </tr>
        <tr>
            <td>Customer Name:</td>
            <td>{{ form_response.prepayment_inputs.full_name }}</td>
        </tr>
        <td>Property Address:</td>
        <td>{{ form_response.prepayment_inputs.service_address }}, {{ form_response.prepayment_inputs.service_city }}, {{ form_response.prepayment_inputs.service_state }} {{ form_response.prepayment_inputs.service_zip_code }}</td>
        </tr>
        <tr>
            <td>System Size (kW):</td>
            <td>{{ form_response.prepayment_inputs.system_size }} kW</td>
        </tr>
        <tr>
            <td>Annual Escalator*:</td>
            <td>{{ form_response.prepayment_inputs.escalator }}%</td>
        </tr>
        <tr>
            <td>Payment Dates:</td>
            <td>As set forth in the {{ form_response.prepayment_inputs.contract_type }}, Your monthly payment of the Energy Price is due
                upon Your reciept of the invoice.
            </td>
        </tr>
        <tr>
            <td>Payment Frequency:</td>
            <td>Monthly</td>
        </tr>
        <tr>
            <td>Number of Payments:</td>
            <td>240 during initial Term of the {{ form_response.prepayment_inputs.contract_type }}</td>
        </tr>
        <tr>
            <td>Prepayment</td>
            <td>
                <table style="width:100%;">
                    <tr>
                        <th style="padding:0px 10px;">Year</th>
                        <th style="width:50%;">Estimated Prepayment Amount</th>
                        <th style="padding:0px 10px;">Year</th>
                        <th style="width:50%;">Estimated Prepayment Amount</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>${{ form_response.yearly_estimated_prepayment_amounts.year1 }}</td>
                        <td>11</td>
                        <td>${{ form_response.yearly_estimated_prepayment_amounts.year11 }}</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>${{ form_response.yearly_estimated_prepayment_amounts.year2 }}</td>
                        <td>12</td>
                        <td>${{ form_response.yearly_estimated_prepayment_amounts.year12 }}</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>${{ form_response.yearly_estimated_prepayment_amounts.year3 }}</td>
                        <td>13</td>
                        <td>${{ form_response.yearly_estimated_prepayment_amounts.year13 }}</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>${{ form_response.yearly_estimated_prepayment_amounts.year4 }}</td>
                        <td>14</td>
                        <td>${{ form_response.yearly_estimated_prepayment_amounts.year14 }}</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>${{ form_response.yearly_estimated_prepayment_amounts.year5 }}</td>
                        <td>15</td>
                        <td>${{ form_response.yearly_estimated_prepayment_amounts.year15 }}</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>${{ form_response.yearly_estimated_prepayment_amounts.year6 }}</td>
                        <td>16</td>
                        <td>${{ form_response.yearly_estimated_prepayment_amounts.year16 }}</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>${{ form_response.yearly_estimated_prepayment_amounts.year7 }}</td>
                        <td>17</td>
                        <td>${{ form_response.yearly_estimated_prepayment_amounts.year17 }}</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>${{ form_response.yearly_estimated_prepayment_amounts.year8 }}</td>
                        <td>18</td>
                        <td>${{ form_response.yearly_estimated_prepayment_amounts.year18 }}</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>${{ form_response.yearly_estimated_prepayment_amounts.year9 }}</td>
                        <td>19</td>
                        <td>${{ form_response.yearly_estimated_prepayment_amounts.year19 }}</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>${{ form_response.yearly_estimated_prepayment_amounts.year10 }}</td>
                        <td>20</td>
                        <td>${{ form_response.yearly_estimated_prepayment_amounts.year20 }}</td>
                    </tr>
                    As of In-Service Date
                    Estimated Prepayment Amount does not include: (i) monthly payments for partial
                    years, (iii) amounts due but not yet paid, and (iii) applicable taxes.
                </table>
            </td>
        </tr>
        <tr>
            <td>Late Charges and interest:</td>
            <td>As set forth in the {{ form_response.prepayment_inputs.contract_type }}, late charges will only be imposed in the case
                of payments that are more than ten (10) days past due. Such late charges will be Fifteen Dollars ($15)
            </td>
        </tr>
        <tr>
            <td>Tax Obligations: </td>
            <td>Taxes are based on Your state and local tax rates and are subject to change. As such, any taxes displayed are estimates only.</td>
        </tr>
    </table>
{% endblock %}