{% extends 'Luna/base.html' %}
{% block content %}

    <div class="main">
        <h2>Full Benefit Analysis</h2>
        <div style="width: 100%; display: inline-block;">
            <div style="float: left; width: 49%">
                <form action="/calculators/full_benefit_analysis/" method="post">
                    <table class="table table-borderless">
                        <thead class="thead-dark">
                        <tr>
                            <th colspan="5">Customer Info</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ form.non_field_errors }}</td>
                        </tr>
                        <tr>
                            <td><label for="{{ form.service_number.id_for_label }}">{{ form.service_number.label }}</label></td>
                            <td colspan="2">{{ form.service_number }}</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="1">Consumption</td>
                            <td colspan="1">Backfeed</td>
                            <td colspan="1">Utility Bill</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ form.labels.twelve }}</td>
                            <td colspan="1">{{ form.twelve_months_consumption }}</td>
                            <td colspan="1">{{ form.twelve_months_backfeed }}</td>
                            <td colspan="1">{{ form.twelve_months_utility_bill }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ form.labels.eleven }}</td>
                            <td colspan="1">{{ form.eleven_months_consumption }}</td>
                            <td colspan="1">{{ form.eleven_months_backfeed }}</td>
                            <td colspan="1">{{ form.eleven_months_utility_bill }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ form.labels.ten }}</td>
                            <td colspan="1">{{ form.ten_months_consumption }}</td>
                            <td colspan="1">{{ form.ten_months_backfeed }}</td>
                            <td colspan="1">{{ form.ten_months_utility_bill }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ form.labels.nine }}</td>
                            <td colspan="1">{{ form.nine_months_consumption }}</td>
                            <td colspan="1">{{ form.nine_months_backfeed }}</td>
                            <td colspan="1">{{ form.nine_months_utility_bill }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ form.labels.eight }}</td>
                            <td colspan="1">{{ form.eight_months_consumption }}</td>
                            <td colspan="1">{{ form.eight_months_backfeed }}</td>
                            <td colspan="1">{{ form.eight_months_utility_bill }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ form.labels.seven }}</td>
                            <td colspan="1">{{ form.seven_months_consumption }}</td>
                            <td colspan="1">{{ form.seven_months_backfeed }}</td>
                            <td colspan="1">{{ form.seven_months_utility_bill }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ form.labels.six }}</td>
                            <td colspan="1">{{ form.six_months_consumption }}</td>
                            <td colspan="1">{{ form.six_months_backfeed }}</td>
                            <td colspan="1">{{ form.six_months_utility_bill }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ form.labels.five }}</td>
                            <td colspan="1">{{ form.five_months_consumption }}</td>
                            <td colspan="1">{{ form.five_months_backfeed }}</td>
                            <td colspan="1">{{ form.five_months_utility_bill }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ form.labels.four }}</td>
                            <td colspan="1">{{ form.four_months_consumption }}</td>
                            <td colspan="1">{{ form.four_months_backfeed }}</td>
                            <td colspan="1">{{ form.four_months_utility_bill }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ form.labels.three }}</td>
                            <td colspan="1">{{ form.three_months_consumption }}</td>
                            <td colspan="1">{{ form.three_months_backfeed }}</td>
                            <td colspan="1">{{ form.three_months_utility_bill }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ form.labels.two }}</td>
                            <td colspan="1">{{ form.two_months_consumption }}</td>
                            <td colspan="1">{{ form.two_months_backfeed }}</td>
                            <td colspan="1">{{ form.two_months_utility_bill }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ form.labels.one }}</td>
                            <td colspan="1">{{ form.one_months_consumption }}</td>
                            <td colspan="1">{{ form.one_months_backfeed }}</td>
                            <td colspan="1">{{ form.one_months_utility_bill }}</td>
                        </tr>
{#                        {% for row in form.grid %}#}
{#                            <tr>#}
{#                                <td>{{ row }}</td>#}
{#                                {% for item in row %}#}
{#                                    {% if item.errors %}#}
{#                                        <td>{{ item.errors }}</td>#}
{#                                    {% endif %}#}
{#                                    <td colspan="1">{{ item }}</td>#}
{#                                {% endfor %}#}
{#                            </tr>#}
{#                        {% endfor %}#}
{#                        {% for field in form %}#}
{#                            <tr>#}
{#                                {% if field.errors %}#}
{#                                    <td>{{ field.errors }}</td>#}
{#                                {% endif %}#}
{#                                <td><label for="{{ field.id_for_label }}">{{ field.label }} </label></td>#}
{#                                <td colspan="1">{{ field }}</td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
                        <tr>
                            <td colspan="4">
                                {% if form_response_complete == True %}
                                    <input type="submit"
                                           formaction="/calculators/full_benefit_analysis/pdf"
                                           value="Print Friendly Page" formtarget="_blank"/>

                                {% endif %}
                            </td>
                            <td style="float: right" colspan="2">

                                <input type="submit" value="Submit"/>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div id="account_info" style="margin-left: 51%">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
{#                        <th colspan="{{ form_response.account.0|length }}">Account Information</th>#}
                        <th colspan="4">Account Information</th>
                    </tr>
                    </thead>
                    {% if form_response_complete == True %}
                        <thead>
                        <tr>
                            <th>Service Number</th>
                            <th>Name</th>
                            <th>Email</th>
{#                            <th>Street Address</th>#}
{#                            <th>City</th>#}
{#                            <th>State</th>#}
{#                            <th>Zip Code</th>#}
{#                            <th>PTO</th>#}
{#                            <th>Utility Company</th>#}
{#                            <th>Average Utility Rate</th>#}
                        </tr>
                        </thead>
                        <tbody>
{#                        {% for row in form_response.account %}#}
{#                            <tr>#}
{#                                {% for item in row %}#}
{#                                    <td>{{ item }}</td>#}
{#                                {% endfor %}#}
{#                            </tr>#}
{#                        {% endfor %}#}
                            <tr>
                                <td>{{ form_response.account.0.0 }}</td>
                                <td>{{ form_response.account.0.1 }}</td>
                                <td>{{ form_response.account.0.2 }}</td>
                            </tr>
                        </tbody>
{#                    </table>#}
{#                    <table class="table">#}
                        <thead>
                            <tr>
                                <th>Street Address</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ form_response.account.0.3 }}</td>
                                <td>{{ form_response.account.0.4 }}</td>
                                <td>{{ form_response.account.0.5 }}</td>
                                <td>{{ form_response.account.0.6 }}</td>
                            </tr>
                        </tbody>
{#                    </table>#}
{#                    <table class="table">#}
                        <thead>
                            <tr>
                                <th>PTO Date</th>
                                <th>Utility Company</th>
                                <th>Average Utility Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ form_response.account.0.7 }}</td>
                                <td>{{ form_response.account.0.8 }}</td>
                                <td>{{ form_response.account.0.9 }}</td>
                            </tr>
                        </tbody>
{#                    </table>#}
                    {% endif %}
                </table>
            </div>
        </div>
        <div id="production_div">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th colspan="{{ form_response.production.0|length }}">Analysis by Month</th>
                </tr>
                </thead>
            </table>
            <table id="production" class="table table-striped" style="overflow: auto">
                <thead>
                <tr>
                    <th scope="col">Month</th>
                    <th scope="col" style="background-color: #57c1e8">Actual</th>
                    <th scope="col" style="background-color: #57c1e8">Usage</th>
                    <th scope="col" style="background-color: #7764a0">Excess Production </br>Sent to Grid</th>
                    <th scope="col" style="background-color: #e84b37">Utility Consumption</th>
                    <th scope="col" style="background-color: #7764a0">Total Consumption</th>
                    <th scope="col" style="background-color: #57c1e8">Vivint Solar Bill</th>
                    <th scope="col" style="background-color: #e84b37">Utility Bill</th>
                    <th scope="col" style="background-color: #7764a0">Bill w/Solar</th>
                    <th scope="col" style="background-color: #e84b37">Bill w/out Solar<sup>*</sup></th>
                    <th scope="col">Savings</th>
                </tr>
                </thead>
                {% if form_response_complete == True %}
                    <tbody>

                    {% for row in form_response.production %}
                        {% if row.0 == 'Total' %}
                            <tr>
                                {% for col in row %}
                                    <td>{{ col }}</td>
                                {% endfor %}
                            </tr>
                        {% else %}
                            <tr>
                                {% for col in row %}
                                    <td>{{ col }}</td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% if form_response.error %}
                        <tr>
                            <td>{{ form_response.error }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endif %}
                    </tbody>
                {% endif %}
            </table>
        </div>

    </div>
{% endblock %}