{% extends 'Luna/base.html' %}
{% block content %}

    <div class="main">
        <h2>Full Benefit Analysis</h2>
        <div style="width: 100%; display: inline-block;">
            <div style="float: left; width: 30%">
                <form action="/calculators/full_benefit_analysis/" method="post">
                    <table class="table table-borderless">
                        <thead class="thead-dark">
                        <tr>
                            <th colspan="4">Customer Info</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ form.non_field_errors }}</td>
                        </tr>
{#                        <tr>#}
{#                            <td><label for="{{ form.service_number.id_for_label }}">{{ form.service_number.label }}</label></td>#}
{#                            <td colspan="2">{{ form.service_number }}</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td></td>#}
{#                            <td>Consumption</td>#}
{#                            <td>Backfeed</td>#}
{#                            <td>Utility Bill</td>#}
{#                        </tr>#}
                        {% for field in form %}
                            <tr>
                                {% if field.errors %}
                                    <td>{{ field.errors }}</td>
                                {% endif %}
                                <td><label for="{{ field.id_for_label }}">{{ field.label }} </label></td>
                                <td colspan="1">{{ field }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3">
                                {% if form_response_complete == True %}
                                    <input type="submit"
                                           formaction="/calculators/full_benefit_analysis/pdf"
                                           value="Print Friendly Page" formtarget="_blank"/>

                                {% endif %}
                            </td>
                            <td style="float: right" colspan="2">

                                <input type="submit" value="Submit"/>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div id="account_info" style="margin-left: 32%">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th colspan="{{ form_response.account.0|length }}">Account Information</th>
                    </tr>
                    </thead>
                    {% if form_response_complete == True %}
                        <thead>
                        <tr>
                            <th>Service Number</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Street Address</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zip Code</th>
                            <th>PTO</th>
                            <th>Utility Company</th>
                            <th>Average Utility Rate</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for row in form_response.account %}
                            <tr>
                                {% for item in row %}
                                    <td>{{ item }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
        <div id="production_div">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th colspan="{{ form_response.production.0|length }}">Analysis by Month</th>
                </tr>
                </thead>
            </table>
            <table id="production" class="table table-striped" style="overflow: auto">
                <thead>
                <tr>
                    <th scope="col">Month</th>
                    <th scope="col">Actual (kWh)</th>
                    <th scope="col">Vivint Solar Bill</th>
                    <th scope="col">Utility Consumption</th>
                    <th scope="col">Excess Production </br>Sent to Grid (kWh)</th>
                    <th scope="col">Utility Bill</th>
                    <th scope="col">Total Consumption</th>
                    <th scope="col">Bill w/out Solar</th>
                    <th scope="col">Bill w/Solar</th>
                    <th scope="col">Savings</th>
                </tr>
                </thead>
                {% if form_response_complete == True %}
                    <tbody>

                    {% for row in form_response.production %}
                        {% if row.0 == 'Total' %}
                            <tr>
                                {% for col in row %}
                                    <td>{{ col }}</td>
                                {% endfor %}
                            </tr>
                        {% else %}
                            <tr>
                                {% for col in row %}
                                    <td>{{ col }}</td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        </div>

    </div>
{% endblock %}