{% extends 'Luna/base.html' %}
{% load static %}
{% block content %}

{# TODO GET RID OF BACKGROUND COLOR - SNOW SKIN #}
    <div class="main" style="background-color:#7b0022;">

    {# TODO GET RID OF DIV ID SNOWFLAKE CONTAINER - SNOW SKIN #}
    <div id="snowflakeContainer">
        <div class="snowflake"></div>
    </div>

    {% if user.is_authenticated %}
        <h2 style="color:white;"><b>Welcome {{ user.first_name }}</b></h2>
        <p id="browser_detect" onclick="browser_detect()" style="color:white;"><b>Click here to check if you are using a
            compatible browser</b></p>
    </div>

<!--
{#            <div class="top_pane">#}
{#                <div class="name_box">#}
{#                    Welcome {{ user.first_name }}!<br>#}
{#                </div>#}
{#            </div>#}
-->
        {% else %}
        {# todo remove color:white #}
        <h2 style="color:white;"><b>Welcome!</b></h2>
        <p style="color:white"><b>To access Luna, Please <a href="{% url 'social:begin' 'google-oauth2' %}">Login</a></b></p>
        {% endif %}
    </div>

    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    <script src="//www.kirupa.com/js/fallingsnow_v6.js"></script>
    <script src="//www.kirupa.com/js/prefixfree.min.js"></script>

{% endblock %}