{% extends 'Luna/base.html' %}
{% load static %}
{% block content %}

    <div class="main">
        {% if user.is_authenticated %}
{#            <div class="top_pane">#}
{#                <div class="name_box">#}
{#                    Welcome {{ user.first_name }}!<br>#}
{#                </div>#}
{#            </div>#}
            Welcome {{ user.first_name }}

        {% else %}
            <h2>Welcome!</h2>
            <br>
            <p>To access Luna, Please <a href="{% url 'social:begin' 'google-oauth2' %}">Login</a></p>
        {% endif %}
        <p id="browser_detect" onclick="browser_detect()">Click here to check if you are using a
            compatible browser</p>
    </div>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>

{% endblock %}