{% extends 'Luna/base.html' %}
{% block content %}

    <div class="main">
        <h2>Soft Savings Analysis</h2>
        <div style="width: 100%; display: inline-block;">
            <div style="float: left; width: 30%">
                <form action="/calculators/soft_savings_analysis/" method="post">
                    <table class="table table-borderless">
                        <thead class="thead-dark">
                        <tr>
                            <th colspan="3">Account Lookup</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ form.non_field_errors }}</td>
                        </tr>
                        {% for field in form %}
                            <tr>
                                {% if field.errors %}
                                    <td>{{ field.errors }}</td>
                                {% endif %}
                                <td><label for="{{ field.id_for_label }}">{{ field.label }} </label></td>
                                <td colspan="2">{{ field }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2">
                                {% if form_response_complete == True %}
                                    <input type="submit"
                                           formaction="/calculators/soft_savings_analysis/pdf"
                                           value="Print Friendly Page" formtarget="_blank"/>

                                {% endif %}
                            </td>
                            <td style="float: right" colspan="2">

                                <input type="submit" value="Submit"/>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div id="account_info" style="margin-left: 32%">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th colspan="11">Account Information</th>
                    </tr>
                    </thead>
                    {% if form_response_complete == True %}
                        <thead>
                        <tr>
                            <th>Service Number</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Street Address</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zip Code</th>
                            <th>PTO</th>
                            <th>Utility Company</th>
                            <th>Average Utility Rate<sup>*</sup></th>
                            <th>Contract Type</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for row in form_response.account %}
                            <tr>
                                {% for item in row %}
                                    <td>{{ item }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endif %}
{#                    {% if form_response_complete == False %}#}
{#                        <p>False</p>#}
{#                    {% endif %}#}
                </table>
            </div>
        </div>
            {% if form_response.error %}
                <table>
                    <tr>
                        <td colspan="5">{{ form_response.error }}</td>
                    </tr>
                </table>
            {% endif %}
        <div id="production_div">
            {% if form_response_complete == True %}
                <ul>
                    {% for item in form_response.summary %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th colspan="{{ form_response.savings.0|length }}">Analysis by Month</th>
                </tr>
                </thead>
            </table>
            <table id="production" class="table table-striped" style="overflow: auto">
                <thead>
                <tr>
                    <th scope="col">Month</th>
                    <th scope="col">Actual Production <br>from the PV System</th>
                    <th scope="col">Vivint Solar Bill</th>
                    <th scope="col">Utility Bill<sup>*</sup></th>
                    <th scope="col">Savings<sup>*</sup></th>
                </tr>
                </thead>
                {% if form_response_complete == True %}
                    <tbody>

                    {% for row in form_response.savings %}
                        {% if row.0 == 'Total' %}
                            <tr>
                                {% for col in row %}
                                    <td>{{ col }}</td>
                                {% endfor %}
                            </tr>
                        {% else %}
                            <tr>
                                {% for col in row %}
                                    <td>{{ col }}</td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td><b>Definitions</b></td>
                        <td colspan="5">
                            <ul>
                                <li>
                                    <b>Average Utility Rate<sup>*</sup></b>: The utility rate (per kilowatt hour) paid
                                    by the average customer of your utility company.
                                </li>
                                <li>
                                    <b>Savings<sup>*</sup></b>: The difference between your
                                    <b><em>Utility Bill<sup>*</sup></em></b> and your
                                    <b><em>Vivint Solar Bill</em></b>.
                                </li>
                                <li>
                                    <b>Vivint Solar Bill</b>: Your Vivint Solar Bill based on the
                                    <b><em>Actual Production from the PV System</em></b> of the solar energy system at
                                    your home and your contract rate during that month.
                                </li>
                                <li>
                                    <b>Utility Bill<sup>*</sup></b>: This value is calculated by multiplying your
                                    <b><em>Average Utility Rate<sup>*</sup></em></b> and your
                                    <b><em>Actual Production from the PV System</em></b>. This is not necessarily what
                                    you paid your utility company, but what you could have had to pay your utility
                                    company for receiving the same amount of power generated by the PV system from
                                    the grid.
                                <li>
                                    <b>Actual Production from the PV System</b>: The amount of energy produced by the
                                    solar energy system at your home.
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Footnote</b>
                        </td>
                        <td colspan="5">
                            <b>*</b> Values are representative of the average customer of your Utility Company.
                        </td>
                    </tr>
                    </tbody>
                {% endif %}
            </table>
        </div>

    </div>
{% endblock %}