<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Luna Landing</title>
    <link rel = "stylesheet"
          type = "text/css"
          href = "luna_style.css" />
</head>
<body>
    <div class="header">
        <a href="default.html">
            <img src="resources/Orange.png" alt="Home" />
        </a>
        <h1>Welcome to Luna</h1>
    </div>
    <div class="sidenav">
        <a href="system_performance_calc.html">Calculator</a>
        <a href="career_path.html">Career Path</a>
        <a href="#clients">Clients</a>
        <a href="#contact">Contact</a>
    </div>

<div class="main">
    <h2>System Performance Calculator</h2>
    <p>This is a paragraph.</p>
    <p>Yada, yada.</p>
    <p>This is where the calculator will go.</p>
</div>
</body>
</html>