{% extends 'Luna/base.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'Soft_Skills/CSS/soft_skills.css' %}">
    </head>
    <body>
    <div class="top_pane"><h3 style="color: white;">Employee Soft Skills</h3></div>
    <div class="main">
        <div class="form-group" style="display:inline-block;">
            <label for="supervisor_list">Supervisor</label>
            <select multiple class="form-control" id="supervisor_list" style="height:400px; width:250px;">
                {% for key, value in employee_list.items %}
                    <option>{{ value.4 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" style="display:inline-block; vertical-align: top;">
            <label for="employee_list">Employee</label>
            <select multiple class="form-control" id="employee_list" style="height:400px; width: 250px;">
                {% for key, value in employee_list.items %}
                    <option>{{ value.0 }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="submit_button" style="display: inline-block; vertical-align: top;">
            <input type="submit">
        </div>
    </div>
    </body>
    </html>
{% endblock %}