{% extends 'Luna/base.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'Soft_Skills/CSS/soft_skills.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
        <script type="text/javascript" src="{% static 'Soft_Skills_Script.js' %}"></script>
    </head>
    <body>
    <div class="top_pane"><h3 style="color: white;">Employee Soft Skills</h3></div>
    <div class="main">
        <form action="/Soft_Skills/" method="POST">
        {% csrf_token %}
            <div class="form-group" style="display:inline-block;">
                <label for="supervisor_list">Supervisor</label>
                <select class="form-control" id="supervisor_list" name="super_badge"
                        style="height:400px; width:250px;" multiple>
                    {% for key, values in supervisor_list.items %}
                        <option value={{ key }} data-tokens={{ values }}>{{ values }}</option>
                    {% endfor %}
                </select>
            </div>

            {% if super_badge != None %}
                <div class="form-group" style="display:inline-block; vertical-align: top;">
                    <label for="employee_list">Employee</label>
                    <select multiple class="form-control" id="employee_list" name="selected_employee"
                            style="height:400px; width: 250px;" required>
                        {% for value in employee_list %}
                            <option value={{ value.badge_id }}>{{ value.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            {% if employee_list == None %}
                <div id="submit_button" style="display: inline-block; vertical-align: top;">
                   <input type="submit">
               </div>
            {% else %}

            {% endif %}
            <div class="reset_button_section" style="display: inline-block; vertical-align: top; padding-top: 2px;">
                <a class="reset_button" href="/Soft_Skills/" style="text-decoration:none;">Reset</a>
            </div>
        </form>
</div>
    </body>
    </html>
{% endblock %}