{% extends 'Luna/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>Global Transaction Window</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
<div class="main_body">
    <h1>Global Transaction Window</h1>
    <div class="top_pane">
        <div class="btnform_box">
            <form action="agent" method="POST">
            {% csrf_token %}
            <button class="btn">Return to Personal View </button>
        </form>
        </div>

        <div class="balance_box">
            <div class="total_balance_box">
                 Total Balance:
            </div>
            <div class="total_share_coin_box">
                Coins to Share:
            </div>
        </div>

    </div>

    <br><br>
    <table>
        <tr>
            <th>From: </th>
            <th>To: </th>
            <th>Coin Amount: </th>
            <th>Transaction Date: </th>
            <th>Reason: </th>
        </tr>
        <tr>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
        </tr>
    </table>
</div>
</body>
</html>
{% endblock %}