{% extends 'Luna/base.html' %}
{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <meta charset="UTF-8">
        <title>Transaction Window</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
        <script type="text/javascript" src="{% static 'JS/style.js' %}"></script>
    </head>
    <body>
    <div class="main_body">
        <h2>Transaction Window</h2>
        <div class="top_pane">
            <div class="btnform_box">
                <form action="agent" method="POST">
                    {% csrf_token %}
                    <button class="btn">Return to Personal View</button>
                </form>
            </div>

            <div class="balance_box">
                <div class="total_share_coin_box">
                    Sharing Balance: {{ coin }}
                </div>
            </div>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="main_box">
            <div class="form_box">


                <form action="submit_transaction" method="POST">
                    {% csrf_token %}

                    <label for="who">Who do you want to send a gift to? </label>
                    <select name="to_id" agent="to_agent" required>
                        <option></option>
                        {% for key, values in user_list.items %}
                            <option value={{ key }}>{{ values }} - {{ key }} </option>
                        {% endfor %}
                    </select><br><br>
                    <label for="how_much">How much do you want to send? </label><br>
                    <input type="text" name="gave" required><br><br>
                    <div id="warning_box">
                        <label for="reason">Reason for the award? </label>
                        <span class="tooltiptext">* All comments must align to the standards of the
                        employee handbook</span>

                        <input type="text" id="note" name="note" required><br><br>
                    </div>
                    <input type="hidden" name="badge_id" value="{{ badge_id }}">
                    <input type="checkbox" name="anonymous" style="text-align: center;"> Anonymous?
                    <input type="submit" onclick="redemption_box()">
                </form>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endblock %}