{% extends 'Luna/base.html' %}
{% block content %}
    <head>
        <title>Productivity Tracker</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'P_Tracker/CSS/tracker.css' %}">
    </head>
    <div class="shift_body">
    <div id="top_pane">
        <div id="menu">
            <div class="dropdown" style="display:inline-block;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        style="width:150px;">
                    Menu
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/P_Tracker">Main</a>
                    <a class="dropdown-item" href="employee">Employee</a>
                    <a class="dropdown-item" href="create">Add/edit Page</a>
                </div>
            </div>
            <div style="display:inline-block;">
                <h3 style="text-align: center; color:white; padding-left:30px;">Productivity Tracker
                    for {{ name }}</h3>
            </div>
        </div>
        <h3>Create/Edit</h3>
        <div>
            <label>Current projects</label>

        </div>
    </div>
{% endblock %}
