{% extends 'Luna/base.html' %}
{% block content %}
    <head>
        <title>Productivity Tracker</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {#        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
        {#        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
        <link rel="stylesheet" href="{% static 'P_Tracker/CSS/tracker.css' %}">
    </head>
    <div class="shift_body">
    <div class="top_pane">
        <div class="menu">
            <div class="dropdownMenu">
                <button class="dropbtnMenu">Menu</button>
                <div class="dropdownMenu-content">
                    <a class="dropdown-item" href="/P_Tracker">Main</a>
                    <a class="dropdown-item" href="employee">Employee</a>
                    <a class="dropdown-item" href="createProject">Add/edit Projects</a>
                    <a class="dropdown-item" href="createEmployee">Add/edit Employee</a>
                </div>
            </div>
            <div style="display:inline-block;">
                <h3 style="text-align: center; color:white; padding-left:30px;">Productivity Tracker
                    for {{ name }}</h3>
            </div>
        </div>
        <h3>Create/Edit</h3>
        <br><br>
        {% csrf_token %}
        <form action="/P_Tracker/createProject" method="POST">
            <label>Create New Project</label>
            <table style="width:50%; margin-left:auto; margin-right:auto; border:none;" id="proj_table">
                <tr>
                    <td>Name of Project</td>
                    <td><input type="number" name="badge_id"></td>
                    <td><input type="submit"></td>
                </tr>
            </table>
        </form>

        {% csrf_token %}
        <form action="/P_Tracker/createProject" method="POST">
            <label>Edit Projects</label>
            <table style="width:50%; margin-left:auto; margin-right:auto; border:none;" id="proj_table">
                <tr>
                    <th>Name of Projects</th>
                    <th>Who Created</th>
                    <th>Remove?</th>
                </tr>
                {% for key in project_name %}
                    <tr>
                        <td>{{ key.name }}</td>
                        <td>{{ key.who_created }}</td>
                        <td>{{ key.expired }}</td>
                    </tr>
                {% endfor %}
            </table>
            <input type="submit">
        </form>
    </div>
{% endblock %}
