{% extends 'Luna/base.html' %}
{% block content %}
    <head>
        <title>Productivity Tracker</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {#        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
        {#        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
        <link rel="stylesheet" href="{% static 'P_Tracker/CSS/tracker.css' %}">
    </head>
    <div class="top_pane">
        <div class="menu">
            <div class="dropdownMenu">
                <button class="dropbtnMenu">Menu</button>
                <div class="dropdownMenu-content">
                    <a class="dropdown-item" href="/P_Tracker">Main</a>
                    <a class="dropdown-item" href="employee">Employee</a>
                    <a class="dropdown-item" href="createProject">Add/edit Projects</a>
                    <a class="dropdown-item" href="createEmployee">Add/edit Employee</a>
                </div>
            </div>
            <div style="display:inline-block;">
                <h3 style="text-align: center; color:white; padding-left:30px;">Productivity Tracker
                    for {{ name }}</h3>
            </div>
        </div>
        <h3>Create/Edit Employee</h3>
        {% csrf_token %}
        <form action="/" method="POST">
            <table style="width:50%; margin-left:auto; margin-right:auto;" id="proj_table">
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>Badge ID:</td>
                    <td><input type="number" name="badge_id"></td>
                </tr>
                <tr>
                    <td>Full Name:</td>
                    <td><input type="text" name="full_name"></td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>
                        <select name="business_title">
                            <option value="super">Supervisor</option>
                            <option value="tl">Team leader</option>
                            <option value="employee">Employee</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Who is the assigned Supervisor:</td>
                    <td>
                        <select>
                            <option value="0">Name</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td style="border:none;"></td>
                    <td style="border:none;"><input type="submit"></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
