{% extends 'Luna/base.html' %}
{% block content %}
    <head>
        <title>Productivity Tracker</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {#        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
        {#        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
        <link rel="stylesheet" href="{% static 'P_Tracker/CSS/tracker.css' %}">
        <script src="{% static 'P_Tracker/JS.tracker.js' %}"></script>
    </head>

    <div class="menu">
        <div class="dropdownMenu">
            <button class="dropbtnMenu">Menu</button>
            <div class="dropdownMenu-content">
                <a class="dropdown-item" href="/P_Tracker">Main</a>
                <a class="dropdown-item" href="employee">Employee</a>
                <a class="dropdown-item" href="create_project">Add/edit Projects</a>
            </div>
        </div>
        <div style="display:inline-block;">
            <h3 style="text-align: center; color:white; padding-left:30px;">Productivity Tracker
                for {{ name }}</h3>
        </div>
    </div>

    <div class="top_pane2">
        <h3 style="padding-left:5px;">Create New Employee</h3>
        {% csrf_token %}
        <form action="/P_Tracker/create_user" method="POST">
            <div style="padding-left: 80px;"><input type="submit" value="Create New User" style="padding:5px;"></div>
        </form>
        <br>
        <h3 style="padding-left:5px;">View Employee</h3>
        {% csrf_token %}
        <form action="/P_Tracker/employee" method="POST" id="post-form">
            <label>Select Employee: </label>
            <select name="employee_badge">
                <option value="0">Select Name</option>
                {% for key in all_names %}
                    <option value="{{ key.badge_id }}">{{ key.full_name }}</option>
                {% endfor %}
            </select>
            <input type="submit" style="padding:5px;">
        </form>
    </div>
    <div class="error_message">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p><span>{{ message }}</span></p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {#    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`#}
    {#    TAB - EMPLOYEE STATS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`~#}
    {#    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
    {% if table == True %}
        <div class="tab">
            <input type="radio" id="tab-e_stat" name="tab-group-1" checked>
            <label for="tab-e_stat">Employee Stats</label>

            <div class="employ_content">

                <label>Employee Info</label>
                <table style="width:100%;" class="proj_table">
                    <tr>
                        <th>Badge</th>
                        <th>Name</th>
                        <th>Supervisor</th>
                        <th>Role</th>
                    </tr>
                    <tr>
                        <td>{{ employee_names.badge_id }}</td>
                        <td>{{ employee_names.full_name }}</td>
                        <td>{{ supervisor.full_name }}</td>
                        <td>{{ employee_names.business_title }}</td>
                    </tr>
                </table>
                <br>
                <label>Employee Stats</label>
                <table style="width:100%;" class="proj_table">
                    <tr>
                        <th></th>
                        <th>Hours Worked</th>
                        <th>Breaks</th>
                        <th>Activity</th>
                        <th>Training</th>
                        <th>Meeting</th>
                        <th>Project</th>
                    </tr>
                    <tr>
                        <td>Weekly</td>
                        <td>{{ employee_weekly.hrs_worked }}</td>
                        <td>{{ employee_weekly.breaks }}</td>
                        <td>{{ employee_weekly.activity }}</td>
                        <td>{{ employee_weekly.training }}</td>
                        <td>{{ employee_weekly.meeting }}</td>
                        <td>{{ employee_weekly.project }}</td>
                    </tr>
                    <tr>
                        <td>Daily</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>{{ stat_training }}</td>
                        <td>{{ stat_meeting }}</td>
                        <td>{{ stat_projects }}</td>
                    </tr>
                </table>
            </div>
        </div>

        {#    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`#}
        {#    TAB EMPLOYEE PROJECTS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
        {#    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

        <div class="tab">
            <input type="radio" id="tab-e_proj" name="tab-group-1">
            <label for="tab-e_proj">Employee Projects</label>

            <div class="employ_content">
                {% csrf_token %}
                <form action="/P_Tracker/stamp_approval" method="POST">
                    <label>Need to Approve</label>
                    <table class="proj_table" style="width:100%;">
                        <tr>
                            <th>Name of Project</th>
                            <th>Description</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Approved By</th>
                            <th>Check to approve</th>
                        </tr>
                        {% for value in need_approval %}
                            <tr>
                                <td>{{ value.name }}</td>
                                <td>{{ value.description }}</td>
                                <td>{{ value.start_time }}</td>
                                <td>{{ value.end_time }}</td>
                                <td>{{ value.who_approved_name }}</td>
                                <td>
                                    <input type="checkbox" name="stamp" value="{{ super_badge }}">
                                </td>
                            </tr>
                            <input type="hidden" name="id" value="{{ value.id }}">
                        {% endfor %}
                    </table>
                    <br>
                    <div style="float:right;"><input type="submit" style="padding:5px;"></div>
                </form>
                <br>
                <label>Daily Completed Projects</label>
                <table class="proj_table" style="width:100%;">
                    <tr>
                        <th>Name of Project</th>
                        <th>Description</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Approved By</th>
                        <th>Need to be approved</th>
                    </tr>
                    {% for pl in project_list %}
                        <tr>
                            <td>{{ pl.name }}</td>
                            <td>{{ pl.description }}</td>
                            <td>{{ pl.start_time }}</td>
                            <td>{{ pl.end_time }}</td>
                            <td>{{ pl.who_approved_name }}</td>
                            <td>{{ pl.super_stamp }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {#    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`#}
        {#   TAB - FILTER PROJECTS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
        {#    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

        <div class="tab">
            <input type="radio" id="tab-filter" name="tab-group-1">
            <label for="tab-filter">Filter by Date</label>

            <div class="employ_content">
                {% csrf_token %}
                <form action="/P_Tracker/filter" method="POST">
                    <label>Filter</label>
                    <br><br>
                    <div style="text-align: center;">
                        <div class="input-group" style="padding-left:10px; padding-left:35%;">
                            Select &nbsp <select class="custom-select" id="inputGroupSelect01"
                                                 style="display:inline-block; padding:5px;"
                                                 name="what_to_filter">
                            <option value="Project">Project</option>
                            <option value="Meeting">Meeting</option>
                            <option value="Training">Training</option>
                        </select>
                        </div>

                        <div>
                            <div style="padding:10px; display:inline-block;">
                                Start &nbsp <input type="date" class="form-control" name="start"
                                                   style="width:160px; display: inline-block;" required>
                                &nbsp End &nbsp <input type="date" id="date1" class="form-control" name="end"
                                                       style="width:160px;  display: inline-block;"/>
                            </div>
                            <input type="hidden" name="badge_id" value="{{ single_employee.badge_id }}">
                            <div style="display:inline-block;"><input type="submit" style="padding:5px;"></div>
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>

        {#    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`#}
        {#   TAB - FILTER MEETING~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
        {#    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
        {##}
        {#        <div class="tab">#}
        {#            <input type="radio" id="tab-5" name="tab-group-1">#}
        {#            <label for="tab-5">Filter Meeting</label>#}
        {##}
        {#            <div class="employ_content">#}
        {##}
        {#                {% csrf_token %}#}
        {#                <form action="/P_Tracker/filter_meeting" method="POST">#}
        {#                    <label>Filter by Date</label>#}
        {#                    <div style="">#}
        {#                        <div style="padding:10px;">#}
        {#                            Start &nbsp <input type="date" class="form-control" name="start" style="width:160px;"#}
        {#                                               required>#}
        {#                            End &nbsp <input type="date" id="date2" class="form-control" name="end"#}
        {#                                             style="width:160px;"/>#}
        {#                        </div>#}
        {#                        <input type="hidden" name="badge_id" value="{{ single_employee.badge_id }}">#}
        {#                        <input type="submit" style="padding:5px;">#}
        {#                    </div>#}
        {#                </form>#}
        {#                <br><br>#}
        {##}
        {#                {% csrf_token %}#}
        {#                <form action="/P_Tracker/edit_employee" method="POST">#}
        {#                    <table style="width:100%; margin-left:auto; margin-right:auto;" class="proj_table">#}
        {#                        <tr>#}
        {#                            <th>Name</th>#}
        {#                            <th>Start Time</th>#}
        {#                            <th>End Time</th>#}
        {#                        </tr>#}
        {#                        <tr>#}
        {#                            <td></td>#}
        {#                        </tr>#}
        {#                    </table>#}
        {#                </form>#}
        {#            </div>#}
        {#        </div>#}
        {##}
        {#    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`#}
        {#   TAB - FILTER  TRAINING~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
        {#    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
        {##}
        {#        <div class="tab">#}
        {#            <input type="radio" id="tab-6" name="tab-group-1">#}
        {#            <label for="tab-6">Filter Training</label>#}
        {##}
        {#            <div class="employ_content">#}
        {##}
        {#                {% csrf_token %}#}
        {#                <form action="/P_Tracker/filter_training" method="POST">#}
        {#                    <label>Filter by Date</label>#}
        {#                    <div style="">#}
        {#                        <div style="padding:10px;">#}
        {#                            Start &nbsp <input type="date" class="form-control" name="start" style="width:160px;"#}
        {#                                               required>#}
        {#                            End &nbsp <input type="date" id="date3" class="form-control" name="end"#}
        {#                                             style="width:160px;"/>#}
        {#                        </div>#}
        {#                        <input type="hidden" name="badge_id" value="{{ single_employee.badge_id }}">#}
        {#                        <input type="submit" style="padding:5px;">#}
        {#                    </div>#}
        {#                </form>#}
        {#                <br><br>#}
        {##}
        {#                {% csrf_token %}#}
        {#                <form action="/P_Tracker/edit_employee" method="POST">#}
        {#                    <table style="width:100%; margin-left:auto; margin-right:auto;" class="proj_table">#}
        {#                        <tr>#}
        {#                            <th>Name</th>#}
        {#                            <th>Start Time</th>#}
        {#                            <th>End Time</th>#}
        {#                        </tr>#}
        {#                        <tr>#}
        {#                            <td></td>#}
        {#                        </tr>#}
        {#                    </table>#}
        {#                </form>#}
        {#            </div>#}
        {#        </div>#}
        {#    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`#}
        {#    TAB - EDIT EMPLOYEE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
        {#    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

        <div class="tab">
            <input type="radio" id="tab-e_employ" name="tab-group-1">
            <label for="tab-e_employ">Edit Employee</label>

            <div class="employ_content">
                {% csrf_token %}
                <form action="/P_Tracker/edit_employee" method="POST">
                    <table style="width:50%; margin-left:auto; margin-right:auto;" class="proj_table">
                        <tr>
                            <th></th>
                            <th>Current</th>
                            <th>Change</th>
                        </tr>
                        <tr>
                            <td>Badge ID:</td>
                            <td>{{ employee_names.badge_id }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Full Name:</td>
                            <td>{{ employee_names.full_name }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Supervisor:</td>
                            <td>{{ supervisor.full_name }}</td>
                            <td>
                                <select name="supervisor">
                                    <option value="null">Select Supervisor</option>
                                    {% for key in list_super %}
                                        <option value="{{ key.badge_id }}">{{ key.full_name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td>{{ employee_names.business_title }}</td>
                            <td>
                                <select name="business_title">
                                    <option value="null">Select Title</option>
                                    <option value="employee">Employee</option>
                                    <option value="tl">Team Lead</option>
                                    <option value="super">Supervisor</option>
                                    <option value="manager">Manager</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Terminated?</td>
                            <td>No</td>
                            <td><input type="checkbox" name="terminated" value="True"></td>
                        </tr>
                        <tr>
                            <td style="border:none;"></td>
                        </tr>
                        <tr>
                            <td style="border:none;"></td>
                            <td style="border:none;"><input type="submit" style="padding:5px;"></td>
                        </tr>
                    </table>
                    <input type="hidden" name="badge_id" value="{{ employee_names.badge_id }}">
                </form>
            </div>
        </div>
        <script>
            function setInputDate(_id) {
                var _dat = document.querySelector(_id);
                var hoy = new Date(),
                    d = hoy.getDate(),
                    m = hoy.getMonth() + 1,
                    y = hoy.getFullYear(),
                    data;
                if (d < 10) {
                    d = "0" + d;
                }
                ;
                if (m < 10) {
                    m = "0" + m;
                }
                ;
                data = y + "-" + m + "-" + d;
                console.log(data);
                _dat.value = data;
            };
            setInputDate("#date1");
            setInputDate("#date2");
            setInputDate("#date3");
        </script>
    {% endif %}
{% endblock %}
