{% extends 'Luna/base.html' %}
{% block content %}
    <head>
        <title>Productivity Tracker</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'P_Tracker/CSS/tracker.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {#        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
        {#        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
    </head>
    <div class="top_pane">
        <div id="week">
            <div class="menu">
                <div class="dropdownMenu">
                    <button class="dropbtnMenu">Menu</button>
                    <div class="dropdownMenu-content">
                        <a class="dropdown-item" href="/P_Tracker">Main</a>
                        <a class="dropdown-item" href="employee">Employee</a>
                        <a class="dropdown-item" href="create_project">Add/edit Projects</a>
                    </div>
                </div>
                <div style="display:inline-block;">
                    <h3 style="text-align: center; color:white; padding-left:30px;">Productivity Tracker
                        for {{ name }}</h3>
                </div>
            </div>

            <table style="width:100%;" id="pro_table">
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Hours Worked</th>
                    <th>Breaks (Hr)</th>
                    <th>Activity (Hr)</th>
                    <th>Meeting (Hr)</th>
                    <th>Training (Hr)</th>
                    <th>Project Time (Hr)</th>
                </tr>
                <tr>
                    <td>Last Week</td>
                    <td>{{ weekly_list.date1 }} to {{ weekly_list.date2 }}</td>
                    <td>{{ weekly_list.hrs_worked }}</td>
                    <td>{{ weekly_list.breaks }}</td>
                    <td>{{ weekly_list.activity }}</td>
                    <td>{{ weekly_list.meeting }}</td>
                    <td>{{ weekly_list.training }}</td>
                    <td>{{ weekly_list.project }}</td>
                </tr>
                <tr>
                    <td>Daily</td>
                    <td>{{ today_date }}</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>{{ stat_meeting }}</td>
                    <td>{{ stat_training }}</td>
                    <td>{{ stat_projects }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="error_message" style="color:red;">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p><span>{{ message }}</span></p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
    {# Project Info~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
    {#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
    <div class="tab">
        <input type="radio" id="tab-1" name="tab-group-1" checked>
        <label for="tab-1">Project</label>

        <div class="content">

            {#        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
            {#        Current Projects~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
            {#        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

            <table class="proj_table" style="width:100%;">
                <label>Projects in Progress </label>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Approved By</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
                {% for progress in project_progress %}
                    <tr>
                    <td>{{ progress.name }}</td>
                    <td>{{ progress.description }}</td>
                    <td>{{ progress.who_approved_name }}</td>
                    <td>{{ progress.start_time }}</td>
                    <td>
                        <form action="/P_Tracker/end_project_time" method="POST">
                            <button type="submit" style="width:150px;">
                                End Time
                            </button>
                            <p id="end_time"></p>
                            <input type="hidden" name="id" value="{{ progress.id }}">
                        </form>
                    </td>
                {% endfor %}
                </tr>
            </table>
            <br>

            {#        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
            {#        completed Projects~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
            {#        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

            <table class="proj_table" style="width:100%;">
                <label>Completed Projects </label>
                <tr>
                    <th>Project Name</th>
                    <th>Description</th>
                    <th>Approved By</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
                {% for completed in project_completed %}
                    <tr>
                        <td>{{ completed.name }}</td>
                        <td>{{ completed.description }}</td>
                        <td>{{ completed.who_approved_name }}</td>
                        <td>{{ completed.start_time }}</td>
                        <td>{{ completed.end_time }}</td>
                    </tr>
                {% endfor %}
            </table>

            {#        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
            {#        Add Project~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
            {#        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

            <br><br>
            {% if hide_view == True %}
                <label>Add Project</label>
                {% csrf_token %}
                <form action="/P_Tracker/input_project_time" method="POST">
                    <table style="width:50%; margin-left:auto; margin-right:auto;" class="proj_table">
                        <tr>
                            <th style="border:none;"></th>
                            <th style="border:none;"></th>
                        </tr>
                        <tr>
                            <td>Project Name</td>
                            <td>
                                <select name="project_name" required>
                                    {% for key in project_name %}
                                        <option value="{{ key.pk }}">{{ key.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Description of Project</td>
                            <td><input type="text" name="description" required></td>
                        </tr>
                        <tr>
                            <td>Approved By</td>
                            <td>
                                <select name="approved_by" required>
                                    {% for key in approved_by %}
                                        <option value="{{ key.badge_id }}">{{ key.full_name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none;">Start Time</td>
                            <td style="border:none;">
                                <button type="submit" style="width:150px;">
                                    Start Time
                                </button>
                                <input type="hidden" name="start_time" value="{{ start_time }}">
                                <p id="start_time"></p>
                            </td>
                        </tr>
                    </table>
                </form>
            {% endif %}
        </div>
    </div>

    {#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
    {# Meeting Info~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
    {#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
    <div class="tab">
        <input type="radio" id="tab-2" name="tab-group-1">
        <label for="tab-2">Meeting</label>

        <div class="content">

            {#        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
            {#     Meetings in Progress~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
            {#        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

            <label>Meetings in Progress</label>
            <table class="proj_table" style="width:100%;">
                <tr>
                    <th>Name</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
                {% for meet_pro in meeting_progress %}
                    <tr>
                        <td>{{ meet_pro.name }}</td>
                        <td>{{ meet_pro.start_time }}</td>
                        <td>
                            <form action="/P_Tracker/end_meeting" method="POST">
                                <button type="submit" style="width:150px;">
                                    End Time
                                </button>
                                <p id="end_time"></p>
                                <input type="hidden" name="id" value="{{ meet_pro.id }}">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            {#        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
            {#        completed meetings~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
            {#        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

            <table class="proj_table" style="width:100%;">
                <label>Completed Meetings</label>
                <tr>
                    <th>Name</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
                {% for meet_com in meeting_completed %}
                    <tr>
                        <td>{{ meet_com.name }}</td>
                        <td>{{ meet_com.start_time }}</td>
                        <td>{{ meet_com.end_time }}</td>
                    </tr>
                {% endfor %}
            </table>
            {#        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
            {#        Add Meetings~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
            {#        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

            <br><br>
            {% if hide_view == True %}
                {% csrf_token %}
                <form action="/P_Tracker/input_meeting" method="POST">
                    <table style="width:50%; margin-left:auto; margin-right:auto;" class="proj_table">
                        <label>Add Meeting</label>
                        <tr>
                            <th style="border:none;"></th>
                            <th style="border:none;"></th>
                        </tr>
                        <tr>
                            <td>Name of Meeting</td>
                            <td><input type="text" name="meeting_name" required></td>
                        </tr>
                        <tr>
                            <td style="border:none;">Start Time</td>
                            <td style="border:none;">
                                <button type="submit" style="width:150px;">
                                    Start Time
                                </button>
                                <p id="start_meeting_time"></p>
                            </td>
                        </tr>
                    </table>
                </form>
            {% endif %}
        </div>
    </div>

    {#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
    {# Training Info~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
    {#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

    <div class="tab">
        <input type="radio" id="tab-3" name="tab-group-1">
        <label for="tab-3">Training</label>

        <div class="content">
            {#        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
            {#     Trainings in Progress~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
            {#        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

            <label>Trainings in Progress</label>
            <table class="proj_table" style="width:100%;">
                <tr>
                    <th>Name</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
                {% for train_pro in training_progress %}
                    <tr>
                        <td>{{ train_pro.name }}</td>
                        <td>{{ train_pro.start_time }}</td>
                        <td>
                            <form action="/P_Tracker/end_training" method="POST">
                                <button type="submit" style="width:150px;">
                                    End Time
                                </button>
                                <p id="end_time"></p>
                                <input type="hidden" name="id" value="{{ train_pro.id }}">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            {#        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
            {#        completed training~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
            {#        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

            <table class="proj_table" style="width:100%;">
                <label>Completed Trainings</label>
                <tr>
                    <th>Name</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
                {% for train_com in training_completed %}
                    <tr>
                        <td>{{ train_com.name }}</td>
                        <td>{{ train_com.start_time }}</td>
                        <td>{{ train_com.end_time }}</td>
                    </tr>
                {% endfor %}
            </table>
            {#        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
            {#        Add Training~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
            {#        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

            <br><br>
            {% if hide_view == True %}
                {% csrf_token %}
                <form action="/P_Tracker/input_training" method="POST">
                    <table style="width:50%; margin-left:auto; margin-right:auto;" class="proj_table">
                        <label>Add Training</label>
                        <tr>
                            <th style="border:none;"></th>
                            <th style="border:none;"></th>
                        </tr>
                        <tr>
                            <td>Name of Training</td>
                            <td><input type="text" name="training_name" required></td>
                        </tr>
                        <tr>
                            <td style="border:none;">Start Time</td>
                            <td style="border:none;">
                                <button type="submit" style="width:150px;">
                                    Start Time
                                </button>
                                <p id="start_training_time"></p>
                            </td>
                        </tr>
                    </table>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
