{% extends 'Luna/base.html' %}
{% block content %}
    <head>
        <title>Productivity Tracker</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'P_Tracker/CSS/tracker.css' %}">
    </head>
    <div class="shift_body">
        <div id="top_pane">
            <div id="week">
                <div id="menu">
                    <div class="dropdown" style="display:inline-block;">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                style="width:150px;">
                            Menu
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/P_Tracker">Main</a>
                            <a class="dropdown-item" href="employee">Employee</a>
                            <a class="dropdown-item" href="create">Add/edit Page</a>
                        </div>
                    </div>
                    <div style="display:inline-block;">
                        <h3 style="text-align: center; color:white; padding-left:30px;">Productivity Tracker
                            for {{ name }}</h3>
                    </div>
                </div>

                <table style="width:100%;" id="pro_table">
                    <tr>
                        <th></th>
                        <th>Hours Worked</th>
                        <th>Breaks</th>
                        <th>Activity</th>
                        <th>Meeting</th>
                        <th>Training</th>
                        <th>Project Time</th>
                        <th>Activity Count</th>
                    </tr>
                    <tr>
                        <td>Weekly</td>
                        <td>{{ hours }}</td>
                        <td>{{ breaks }}</td>
                        <td>{{ activity }}</td>
                        <td>{{ meeting }}</td>
                        <td>{{ training }}</td>
                        <td>{{ p_time }}</td>
                        <td>{{ a_count }}</td>
                    </tr>
                    <tr>
                        <td>Daily</td>
                        <td>{{ hours }}</td>
                        <td>{{ breaks }}</td>
                        <td>{{ activity }}</td>
                        <td>{{ meeting }}</td>
                        <td>{{ training }}</td>
                        <td>{{ p_time }}</td>
                        <td>{{ a_count }}</td>
                    </tr>
                </table>
            </div>
            <br>
        </div>

        <div class="main_body">
            <div class="tab">
                <input type="radio" id="tab-1" name="tab-group-1" checked>
                <label for="tab-1">Project</label>

                <div class="content">
                    {% csrf_token %}
                    <form action="/" method="POST">
                        <table style="width:50%; margin-left:auto; margin-right:auto;" id="proj_table">
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>Project Name:</td>
                                <td><input type="text" name="project_name"></td>
                            </tr>
                            <tr>
                                <td>Description of Project:</td>
                                <td><input type="text" name="project_name"></td>
                            </tr>
                            <tr>
                                <td>Approved By:</td>
                                <td>
                                    <select>
                                        <option value="0">Name</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Start Time:</td>
                                <td>
                                    <button type="button" style="width:150px;"
                                            onclick="document.getElementById('start_time').innerHTML = Date(); this.style.display = 'none'">
                                        Start Time
                                    </button>
                                    <p id="start_time"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>End Time:</td>
                                <td>
                                    <button type="button" style="width:150px;"
                                            onclick="document.getElementById('end_time').innerHTML = Date(); this.style.display = 'none'">
                                        End Time
                                    </button>
                                    <p id="end_time"></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border:none;"></td>
                                <td style="border:none;"><input type="submit"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>

            <div class="tab">
                <input type="radio" id="tab-2" name="tab-group-1">
                <label for="tab-2">Meeting</label>
            </div>
            <div class="content">
                {% csrf_token %}
                <form action="/" method="POST">
                    <table style="width:50%; margin-left:auto; margin-right:auto;" id="proj_table">
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Project Name:</td>
                            <td><input type="text" name="project_name"></td>
                        </tr>
                        <tr>
                            <td>Description of Project:</td>
                            <td><input type="text" name="project_name"></td>
                        </tr>
                        <tr>
                            <td>Approved By:</td>
                            <td>
                                <select>
                                    <option value="0">Name</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Start Time:</td>
                            <td>
                                <button type="button" style="width:150px;"
                                        onclick="document.getElementById('start_time').innerHTML = Date(); this.style.display = 'none'">
                                    Start Time
                                </button>
                                <p id="start_time"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>End Time:</td>
                            <td>
                                <button type="button" style="width:150px;"
                                        onclick="document.getElementById('end_time').innerHTML = Date(); this.style.display = 'none'">
                                    End Time
                                </button>
                                <p id="end_time"></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none;"></td>
                            <td style="border:none;"><input type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
