* {
    font-family: "Lato", sans-serif;
    padding: 0px;
    margin: 0px;
}

/*-------------------------------*/
/*           Side Bar Menu       */
/*-------------------------------*/

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#sidebar-wrapper {
    z-index: 1000;
    left: 190px;
    width: 190px;
    height: 100%;
    margin-left: -190px;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#sidebar-wrapper {
    width: 190px;
}

#page-content-wrapper {
    margin-left: 190px;
}

#page-content-wrapper {
    position: absolute;
    margin-right: -190px;
    width: 85%;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    width: 190px;
    height: 100%;
    list-style: none;
    color: white;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    color: white;
}

.sidebar-nav li:before {
    color: white;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}

.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;
}

.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;
}

.sidebar-nav li:nth-child(4):before {
    background-color: #314190;
}

.sidebar-nav li:nth-child(5):before {
    background-color: #279636;
}

.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;
}

.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;
}

.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;
}

.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;
}

.sidebar-nav li:nth-child(10):before {
    background-color: #ec1b5a;
}

.sidebar-nav li:nth-child(11):before {
    background-color: #79aefe;
}

.sidebar-nav li:nth-child(12):before {
    background-color: #314190;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #555;
    color: white;
    box-shadow: none;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(117, 250, 67, 0.8);
    z-index: 1;
}

a.logo {
    padding: 10px;
    text-decoration: none;
    width: 160px;
    height: 160px;
    font-size: 25px;
    color: white;
    display: inline-block;
    background-image: url("../static/resources/white_starless.png");
    background-size: 160px auto;
    background-repeat: no-repeat;
    margin-left: 12px;
    margin-top: 6px;
}

a.logo:hover {
    background-image: url("../static/resources/white.png");
    background-size: 160px auto;
    background-repeat: no-repeat;
    background-color: #303033;
}

img.logo {
    float: left;
    width: 160px;
    height: 160px;
    background-color: transparent;
    z-index: 1;
    padding-bottom: 10px;
}

#spacing_between {
    height: 100px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media print {
    body {
        background-color: #FFFFFF;
        background-image: none;
        color: #000000;
    }

    #printPageButton {
        visibility: hidden;
    }

    #printPage {
        padding: 0;
        margin-top: -70px;

    }

    #thead-1 {
        color: black;
        background-color: #b6b6bd;
    }
}

.thead-1 th {
    text-align: left;
}

.thead-2 th {
    text-align: center;
}

.printPageButton {
    font-size: 30px;
    background-color: #cc3300;
}

.printPage {
    margin: 10px 50px 10px;
    padding: 10px 50px 10px;
}

.printPageFooter {
    float: bottom;
    font-size: 11px;
}

table {
    page-break-inside: auto
}

tr {
    page-break-inside: avoid;
    page-break-after: auto
}

thead {
    display: table-header-group
}

tfoot {
    display: table-footer-group
}

body {
    font-family: "Lato", sans-serif;
    background-color: #fdfdff;
    padding: 0;
}

section {
    /*background-color: #dbd9d9;*/
    color: #656569;
    border-radius: 5px;
    padding: 0 .5rem .5rem .5rem;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    margin: 1em 0;
    padding: 0;
    color: #b6b6bd;
    background-image: linear-gradient(#18181a, #18181a, #e3edfe);
}

h2 {
    color: #656569
}

h4.sticky {
    background: #dbd9d9;
    color: #656569;
    margin: 0;
    padding: 6px 0 6px 0;
    position: -webkit-sticky;
    position: sticky;
    top: -16px;
    border-bottom: 5px #656569;
    display: flex;
    border-radius: 5px;
}

h5.sticky {
    background: #dbd9d9;
    color: #656569;
    margin: 0;
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    top: -16px;
}

.top_panel {
    background-color: #57C1E8;
    padding: 15px;
}

.name_box {
    display: block;
    margin-left: 90%;
    font-weight: bold;
    color: white;
}

/* pattern styles */
.careerpath_container {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.inner-container {
    display: flex;
}

.left-half, .right-half {
    background-color: transparent;
    flex: 1;
    padding: 1rem;
    overflow-y: scroll;
    height: auto;
    min-width: 600px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

/*.left-half::-webkit-scrollbar,*/
.right-half::-webkit-scrollbar,
.far-left::-webkit-scrollbar,
.center-left::-webkit-scrollbar,
.far-right::-webkit-scrollbar,
.center-right::-webkit-scrollbar {
    display: none;
}

.far-left {
    background-color: transparent;
    flex: 1;
    float: top;
    padding: .25rem;
}

.far-left p {
    margin-top: 0;
}

.center-left,
.far-right,
.center-right {
    background-color: transparent;
    flex: 1;
    padding: .25rem;
    overflow: auto;
    height: auto;
    text-align: center;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 190px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay below Luna logo */
    left: 0;
    background-color: #303033; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 5px;
    box-shadow: 0 0 20px #111;
}

.sidenav div {
    text-decoration: none;
    font-size: 18px;
    color: #e3edfe;
    display: block;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 16px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #e3edfe;
    display: block;
}

.sidenav-bottom a {
    padding: 6px 8px 16px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #e3edfe;
    position: absolute;
    bottom: 0;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, a:active {
    background-color: #616166;
    color: #e3edfe;
}

.sidenav a.logo {
    padding: 10px;
    text-decoration: none;
    width: 160px;
    height: 160px;
    font-size: 25px;
    color: #656569;
    display: inline-block;
    background-image: url("../static/resources/white_starless.png");
    background-size: 160px auto;
    background-repeat: no-repeat;
    margin-left: 12px;
    margin-top: 6px;
}

.sidenav a.logo:hover {
    background-image: url("../static/resources/white.png");
    background-size: 160px auto;
    background-repeat: no-repeat;
    background-color: #303033;
}

.sidenav img.logo {
    float: left;
    width: 160px;
    height: 160px;
    background-color: transparent;
    z-index: 1;
    padding-bottom: 10px;
}

.sidenav hr {
    display: block;
    height: 2px;
    border: 0;
    margin: 1em 0;
    padding: 0;
    color: #b6b6bd;
    background-image: linear-gradient(#18181a, #18181a, #e3edfe);
}

.menu-content {
    max-height: 0;
    overflow: hidden;
    padding-left: 6px;
    display: block;
}

.menu-content a {
    font-size: 15px;
}

.collapsible-menu label {
    display: inline-block;
    cursor: pointer;
}

.collapsible-menu img {
    height: 15px;
    width: 15px;
    cursor: pointer;
    display: inline-block;
}

#arrow {
    height: 15px;
    width: 15px;
}

#coin-menu {
    display: none;
}

input#menu {
    display: none;
}

input#coin-menu {
    display: none;
}

input:checked ~ .menu-content {
    max-height: 100%;
}

input:checked ~ .coin-menu-content {
    max-height: 100%;
}

input:checked ~ label > img {
    -webkit-transform: rotate(90deg);
}

/* Style page content */
.main {
    /*margin-left: 190px; !* Same as the width of the sidebar *!*/
    margin-top: 0;
    padding: 10px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/*Header*/
.header {
    height: 91px; /*Set height of header to match height of logo*/
    width: 91px; /*full width of screen*/
    position: fixed; /*will stay on scroll*/
    z-index: 1; /*stay on top layer*/
    top: 0; /*stay at top of page*/
    left: 0; /*stay at left of page*/
    background-color: #dbd9d9;
    box-shadow: 0 5px 20px #111;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header img {
    float: left;
    width: 160px;
    height: 160px;
    background-color: transparent;
    z-index: 1;
}

.header a {
    z-index: 1;
}

.header h1 {
    top: 18px;
    left: 10px;
    font-size: 36px;
    color: #656569;
}

#copyButton {
    display: inline-block;
    padding: 1px;
    margin: 5px;
    color: black;
    background: #e1e1e1;
    border: 1px solid darkgrey;
    height: 25px;
    width: 70px;
    box-shadow: 1px 1px #888888;
    text-align: center;
    cursor: pointer;
}

/* Buttons */
button {
    border: none;
    color: white;
    text-align: center;
    width: 100%;
    height: 50px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.button1 {
    background-color: transparent;
    color: #656569;
    border: 2px solid #3fbfad;
    border-radius: 5px;
    max-width: 100%;
}

.button1.clicked {
    background-color: #3fbfad;
    color: #656569;
    outline: none;
}

.button2 {
    background-color: transparent;
    color: #656569;
    border: 2px solid #57c1e8;
    border-radius: 5px;
    max-width: 100%;
}

.button2.clicked {
    background-color: #57c1e8;
    color: #656569;
    outline: none;
}

.button3 {
    background-color: transparent;
    color: #656569;
    border: 2px solid #f8eb60;
    border-radius: 5px;
    max-width: 100%;
}

.button3.clicked {
    background-color: #f8eb60;
    color: #656569;
    outline: none;
}

.button4 {
    background-color: #ff8200;
    color: white;
    border: 2px solid #ff8200;
}

.button4:hover {
    background-color: #e7e7e7;
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}

div.job_req {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
    display: none;
}

.click {
    display: none;
}

.show {
    display: block;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

tools for copy and paste feature on Luna
#copyButton {
    display: inline-block;
    padding: 1px;
    margin: 5px;
    color: black;
    background: #e1e1e1;
    border: 1px solid darkgrey;
    height: 25px;
    box-shadow: 1px 1px #888888;
    text-align: center;
    cursor: pointer;
}

#copyButton:hover {
    background-color: orange;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.tabs {
    position: relative;
    min-height: 762px; /* This part sucks */
    clear: both;
    margin: 25px 0;
}

.tab {
    float: left;
}

.tab label {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
}

.tab [type=radio] {
    display: none;
}

.content {
    position: absolute;
    top: 60px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 200px;
}
#cs_content {
    position: absolute;
    top: 280px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    margin-left: 10px;
}

[type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}

.calc table, .calc td, .calc th {
    border: 1px solid black;
    padding: 10px;
}

.calc table {
    border-collapse: collapse;
    width: 100%;
}

.calc th {
    height: 50px;
}