body {
    font-family: "Lato", sans-serif;
    background-color: #fdfdff;
    padding: 0;
}

section {
    background-color: #dbd9d9;
    color: #656569;
    border-radius: 5px;
    padding: 0 .5rem .5rem .5rem;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid;
    margin: 1em 0;
    padding: 0;
    color: #b6b6bd;
    background-color: #b6b6bd;
}

h2 {
    color: #656569
}

h4.sticky {
  background: #dbd9d9;
  color: #656569;
  margin: 0;
  padding: 6px 0 0 0;
  position: -webkit-sticky;
  position: sticky;
  top: -16px;
  border-bottom: 5px #656569;
  display: flex;
  border-radius: 5px;
}

h5.sticky {
  background: #dbd9d9;
  color: #656569;
  margin: 0;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: -16px;
}


/* pattern styles */
.container {
    display: flex;
    overflow: hidden;
    height: 89vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.inner-container {
    display: flex;
}

.left-half, .right-half {
    background-color: transparent;
    flex: 1;
    padding: 1rem;
    overflow: auto;
    height: auto;
    min-width: 600px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.left-half::-webkit-scrollbar,
.right-half::-webkit-scrollbar,
.far-left::-webkit-scrollbar,
.center-left::-webkit-scrollbar,
.far-right::-webkit-scrollbar,
.center-right::-webkit-scrollbar {
    display: none;
}

.far-left{
    background-color: transparent;
    flex: 1;
    padding: .25rem;
}

.center-left,
.far-right,
.center-right {
    background-color: transparent;
    flex: 1;
    padding: .25rem;
    overflow: auto;
    height: auto;
    text-align: center;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 190px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay below Luna logo */
    left: 0;
    background-color: #303033; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 5px;
    box-shadow: 0 0 20px #111;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 16px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #e3edfe;
    display: block;
}

.sidenav-bottom a {
    padding: 6px 8px 16px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #e3edfe;
    position: absolute;
    bottom: 0;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    background-color: #616166;
}

.sidenav a.logo {
    padding: 6px 8px 6px 0;
    text-decoration: none;
    width: 160px;
    height: 160px;
    font-size: 25px;
    color: #656569;
    display: inline-block;
    background-image: url("/static/resources/orange.png");
    background-size: 160px auto;
    background-repeat: no-repeat;
    margin-left: 12px;
    margin-top: 6px;
}

.sidenav a.logo:hover {
    background-image: url("/static/resources/white.png");
    background-size: 160px auto;
    background-repeat: no-repeat;
    background-color: #303033;
}

.sidenav img.logo {
    float: left;
    width: 160px;
    height: 160px;
    background-color: transparent;
    z-index: 1;
    padding-bottom: 10px;
}

.sidenav hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid;
    margin: 1em 0;
    padding: 0;
    color: #b6b6bd ;
    background-color: #b6b6bd;
}
/* Style page content */
.main {
    margin-left: 190px; /* Same as the width of the sidebar */
    margin-top: 0px;
    padding: 10px 10px;
    color: transparent;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*Header*/
.header {
    height: 160px; /*Set height of header to match height of logo*/
    width: 100%; /*full width of screen*/
    position: fixed; /*will stay on scroll*/
    z-index: 1; /*stay on top layer*/
    top: 0; /*stay at top of page*/
    left: 0; /*stay at left of page*/
    background-color: #dbd9d9;
    box-shadow: 0px 5px 20px #111;
}

.header img {
    float: left;
    width: 160px;
    height: 160px;
    background-color: transparent;
    z-index: 1;
}

.header a {
    z-index: 1;
}

.header h1 {
    top: 18px;
    left: 10px;
    font-size: 36px;
    color: #656569;
}

/* Buttons */
button, :focus {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    width: 100%;
    height: 50px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    cursor: pointer;
    outline: none;
}

.button1 {
    background-color: transparent;
    color: #656569;
    border: 2px solid #3fbfad;
    border-radius: 5px;
    max-width: 100%;
}

.button1.clicked {
    background-color: #3fbfad;
    color: #656569;
    outline: none;
}

.button2 {
    background-color: transparent;
    color: #656569;
    border: 2px solid #57c1e8;
    border-radius: 5px;
    max-width: 100%;
}

.button2.clicked {
    background-color: #57c1e8;
    color: #656569;
    outline: none;
}

.button3 {
    background-color: transparent;
    color: #656569;
    border: 2px solid #f8eb60;
    border-radius: 5px;
    max-width: 100%;
}

.button3.clicked {
    background-color: #f8eb60;
    color: #656569;
    outline: none;
}

.button4 {
    background-color: #ff8200;
    color: white;
    border: 2px solid #ff8200;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}

div.job_req {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
    display: none;
}

.click {
    display: none;
}

.show {
    display: block;
}