* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Lato", sans-serif;
    color: color: #656569;
}

#top_pane {
    height: 300px;
    padding: 5px 10px 10px 10px;
}

.main_body {
    width: 100%;
    padding: 20px;
}

.error_box {
    color: red;
}

.block {
    border-style: solid;
    padding: 10px;
    display: inline-block;
}

#pro_table table {
    border-collapse: collapse;
    padding: 10px;
}

#pro_table th, #pro_table td {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#proj_table td {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

#pro_table tr:hover {
    background-color: #f5f5f5;
}

#menu {
    padding: 10px;
    background-color: #333;
    color: white;
}

.tabs {
    position: relative;
    min-height: 762px; /* This part sucks */
    clear: both;
    margin: 25px 0;
}

.tab {
    float: left;
}

.tab label {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
}

.tab [type=radio] {
    display: none;
}

.content {
    position: absolute;
    top: 43px;
    left: 0;
    background: white;
    right: 0;
    bottom: auto;
    padding: 20px;
    border: 1px solid #ccc;
    top: 340px;
    height: 500px;
}

[type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}
