{% extends 'Luna/base.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <meta charset="UTF-8">
        <title>Global Transaction Window</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'CSS/coin_style.css' %}">
        <script type="text/javascript" src="{% static 'JS/clock.js' %}"></script>
        <script src="{% static 'JS/coin_style.js' %}"></script>
    </head>
    <body>
    <div class="main_body">
        {#        <h2>Personal Window</h2>#}
        <div class="top_pane">
            <div class="btnform_box">
                <form class="btnform" action="global" method="POST">
                    {% csrf_token %}
                    <button class="btn">Community View</button>
                </form>
                <form class="btnform" action="transaction_view" method="POST">
                    {% csrf_token %}
                    <button class="btn">Send Coin</button>
                </form>
            </div>

            <div class="balance_box">
                <div class="total_share_coin_box">
                    <p class="s_balance">Sharing Balance:</p>
                    <div style="font-size: 12px;">Expiration Date</div>
                    <div id="clock"></div>
                    {{ coin }}
                </div>
            </div>
            <p style="padding: 20px 0; color:red;">* Select Tab</p>
        </div>
        <div class="main_box">
            <div class="tab">
                <button class="tablinks" onclick="openCoinTab(event, 'all_transaction')">View All</button>
                <button class="tablinks" onclick="openCoinTab(event, 'received_transaction')">View Received</button>
                <button class="tablinks" onclick="openCoinTab(event, 'sent_transaction')">View Sent</button>
                {#                <button class="tablinks" onclick="openCoinTab(event, 'accepted')">Accept Coin?</button>#}
            </div>
            <div id="all_transaction" class="tabcontent">
                <table id="transaction_table">
                    <tr>
                        <th>Giver</th>
                        <th>Receiver</th>
                        <th style="text-align: right;">Amount</th>
                        <th>Transaction Date</th>
                        <th>Note</th>
                        {#                        <th>Rejected?</th>#}
                    </tr>
                    {% for x in allt1 %}
                        <tr>
                            {% if x.anonymous == 1 %}
                                <td>Anonymous</td>
                            {% endif %}
                            {% if x.anonymous == 0 %}
                                <td>{{ x.benefactor_name }}</td>
                            {% endif %}
                            <td>{{ x.recipient_name }}</td>
                            <td style="text-align: right;">{{ x.award }}</td>
                            <td>{{ x.created_at }}</td>
                            {% if x.bad_comment == 1 %}
                                <td> No Comment</td>
                            {% endif %}
                            {% if x.bad_comment == 0 %}
                                <td>{{ x.note }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    {% for x in allt2 %}
                        <tr>
                            {% if x.anonymous == 1 %}
                                <td>Anonymous</td>
                            {% endif %}
                            {% if x.anonymous == 0 %}
                                <td>{{ x.benefactor_name }}</td>
                            {% endif %}
                            <td>{{ x.recipient_name }}</td>
                            <td style="text-align: right;">{{ x.award }}</td>
                            <td>{{ x.created_at }}</td>
                            {% if x.bad_comment == 1 %}
                                <td> No Comment</td>
                            {% endif %}
                            {% if x.bad_comment == 0 %}
                                <td>{{ x.note }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div id="received_transaction" class="tabcontent">
                <table id="from_transaction_table">
                    <tr>
                        <th>Giver</th>
                        <th style="text-align: right;">Amount</th>
                        <th>Date</th>
                        <th>Reason</th>
                        {#                        <th>Rejected?</th>#}
                    </tr>
                    {% for x in senttransaction %}
                        <tr>
                            {% if x.anonymous == 1 %}
                                <td>Anonymous</td>
                            {% endif %}
                            {% if x.anonymous == 0 %}
                                <td>{{ x.benefactor_name }}</td>
                            {% endif %}
                            <td style="text-align: right;">{{ x.award }}</td>
                            <td>{{ x.created_at }}</td>
                            {% if x.bad_comment == 1 %}
                                <td> No Comment</td>
                            {% endif %}
                            {% if x.bad_comment == 0 %}
                                <td>{{ x.note }}</td>
                            {% endif %}
                            {#                            {% if x.rejected == 1 %}#}
                            {#                                <td>Yes</td>#}
                            {#                            {% endif %}#}
                            {#                            {% if x.rejected == 0 %}#}
                            {#                                <td>No</td>#}
                            {#                            {% endif %}#}
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div id="sent_transaction" class="tabcontent">
                <table id="to_transaction_table">
                    <tr>
                        <th>Receiver</th>
                        <th style="text-align: right;">Amount</th>
                        <th>Date</th>
                        <th>Reason</th>
                        {#                        <th>Rejected?</th>#}
                    </tr>
                    {% for x in fromtransaction %}
                        <tr>
                            <td>{{ x.recipient_name }}</td>
                            <td style="text-align: right;">{{ x.award }}</td>
                            <td>{{ x.created_at }}</td>
                            {% if x.bad_comment == 1 %}
                                <td></td>
                            {% endif %}
                            {% if x.bad_comment == 0 %}
                                <td>{{ x.note }}</td>
                            {% endif %}
                            {#                            {% if x.rejected == 1 %}#}
                            {#                                <td>Yes</td>#}
                            {#                            {% endif %}#}
                            {#                            {% if x.rejected == 0 %}#}
                            {#                                <td>No</td>#}
                            {#                            {% endif %}#}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {#            <div id="accepted" class="tabcontent">#}
            {#                {% if need_to_accept %}#}
            {#                    <form action="accept_coin" method="POST">#}
            {#                        {% csrf_token %}#}
            {#                        <input type="hidden" name="badge_id" value="{{ badge_id }}">#}
            {#                        <table>#}
            {#                            <tr>#}
            {#                                <th>Who:</th>#}
            {#                                <th>How Much:</th>#}
            {#                                <th>Note:</th>#}
            {#                                <th>Accept?</th>#}
            {#                            </tr>#}
            {#                            {% for x in need_to_accept %}#}
            {#                                <tr>#}
            {#                                    <input type="hidden" name="id" value="{{ x.id }}">#}
            {#                                    {% if x.anonymous == 1 %}#}
            {#                                        <td>Anonymous</td>#}
            {#                                    {% endif %}#}
            {#                                    {% if x.anonymous == 0 %}#}
            {#                                        <td>{{ x.from_id }}</td>#}
            {#                                    {% endif %}#}
            {#                                    <td>{{ x.gave }}</td>#}
            {#                                    <td>{{ x.note }}</td>#}
            {#                                    <td><select name="need_to_accept">#}
            {#                                        <option value="0">No</option>#}
            {#                                        <option value="1">Yes</option>#}
            {#                                    </select></td>#}
            {#                                </tr>#}
            {#                            {% endfor %}#}
            {#                        </table>#}
            {#                        <input type="submit">#}
            {#                    </form>#}
            {#                {% endif %}#}
            {#            </div>#}

        </div>
        <p style="font-size: 12px;">If you have any questions or comments please contact
            <a href="mailto:elizabeth.clark@vivintsolar.com?Subject=Coin%20Question%20or%20Comment">Clark</a></p>
    </div>
    </body>
    </html>
{% endblock %}